# MongoDB Atlas Cloud Database URI
# Replace <db_username> with your MongoDB database username
MONGODB_URI=mongodb+srv://<db_username>:KMhZIVuxHEmSiSku@cluster0.4mrmksu.mongodb.net/?retryWrites=true&w=majority

# Port for backend server
PORT=5000
